<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Контент' %><br />
    <%= f.cktext_area :content %>
  </div>
<br/>
  <div class="actions">
    <%= f.submit 'Сохранить' %>
  </div>
<br/>
<% end %>
