<div style="margin: 0 auto; width: 80%">
<h2>Редактирование. Отпуск, больничный , увольнение</h2>

<%= render 'form' %>

<%#= link_to 'Show', @status1 %> |
<%= link_to 'Вернуться', status1s_path %>

</div>
