<style type="text/css">
/* Расположение миниатюр на странице */
ul {
  list-style:none;
}
ul li {
  display:inline;

}
#alb a {width: 67px; overflow: hidden;}
a img {
  border:none;
  margin: 10px;
}
p {
  margin-left:40px;
  font-family: "Trebuchet MS", Tahoma, Verdana sans-serif;
  font-size: 8pt;
  width:440px;
}
</style>
<div id="alb">

 <div class="path"> <%= @path %> </div>

 <h1> Фотоальбом </h1>
<br/> <br/>

<h3> День бумаги Живого офиса </h3>
 <br/>
 <ul id="gallery10">
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_moscow--01.jpg" title="День бумаги Живого офиса. Москва."><img src="/images/album/paperday/paperday_moscow--01_100x70.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--02.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--02_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--03.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--03_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--04.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--04_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--05.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--05_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--06.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--06_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--11.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--11_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--14.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--14_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--15.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--15_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-office--18.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-office--18_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_spb-sklad--01.jpg" title="День бумаги Живого офиса. Санкт-Петербург."><img src="/images/album/paperday/paperday_spb-sklad--01_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_tver--01.jpg" title="День бумаги Живого офиса. Тверь."><img src="/images/album/paperday/paperday_tver--01_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_tver--04.jpg" title="День бумаги Живого офиса. Тверь."><img src="/images/album/paperday/paperday_tver--04_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_tver--06.jpg" title="День бумаги Живого офиса. Тверь."><img src="/images/album/paperday/paperday_tver--06_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_tver--08.jpg" title="День бумаги Живого офиса. Тверь."><img src="/images/album/paperday/paperday_tver--08_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_tver--13.jpg" title="День бумаги Живого офиса. Тверь."><img src="/images/album/paperday/paperday_tver--13_100x70.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/paperday/paperday_tver--16.jpg" title="День бумаги Живого офиса. Тверь."><img src="/images/album/paperday/paperday_tver--16_100x70.jpg" alt="" /></a></li>

 </ul>

 <br/>  <br/>




 <h3> Презентация корпоративного сайта 15.04.2011 </h3>
 <br/>
 <ul id="gallery">
<li><a rel="fancy-tour" href="/images/album/1.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/1m.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/2.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/2m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/3.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/3m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/4.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/4m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/5.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/5m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/6.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/6m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/7.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/7m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/8.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/8m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/9.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/9m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/12.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/12m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/13.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/13m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/14.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/14m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/15.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/15m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/16.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/16m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/17.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/17m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/18.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/18m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/19.jpg" title="Окончание смутного времени .. "><img src="/images/album/19m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/20.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/20m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/21.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/21m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/22.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/22m.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/23.jpg" title="Презентация корпоративного сайта 15.04.2011 "><img src="/images/album/23m.jpg" alt="" /></a></li>
</ul>

 <br/>  <br/>

 <h3> Конференция 04.06.2011 </h3>
 <br/>
 <ul id="gallery2">
<li><a rel="fancy-tour" href="/images/album/conf/z1.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z1x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/conf/z2.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z2x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z3.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z3x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z4.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z4x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z5.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z5x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z6.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z6x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z7.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z7x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z8.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z8x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z9.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z9x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z10.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z10x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z11.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z11x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z12.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z12x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z13.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z13x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z14.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z14x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z15.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z15x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf/z16.jpg" title="Конференция 04.06.2011 "><img src="/images/album/conf/z16x.jpg" alt="" /></a></li>
</ul>


 <br/>  <br/>

 <h3> Склад Живого офиса в Санкт-Петербурге </h3>
 <br/>
 <ul id="gallery4">
<li><a rel="fancy-tour" href="/images/album/spb/7.jpg" title=""><img src="/images/album/spb/7p.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/spb/8.jpg" title=" "><img src="/images/album/spb/8p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/16.jpg" title=""><img src="/images/album/spb/16p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/17.jpg" title=" "><img src="/images/album/spb/17p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/21.jpg" title=""><img src="/images/album/spb/21p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/22.jpg" title=""><img src="/images/album/spb/22p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/23.jpg" title=" "><img src="/images/album/spb/23p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/25.jpg" title=" "><img src="/images/album/spb/25p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/26.jpg" title=""><img src="/images/album/spb/26p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/30.jpg" title=""><img src="/images/album/spb/30p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/33.jpg" title=""><img src="/images/album/spb/33p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/spb/34.jpg" title=""><img src="/images/album/spb/34p.jpg" alt="" /></a></li>

 </ul>

 <br/> <br />


 <h3> BUYBRAND 2011 </h3>
 <br/>
 <ul id="gallery5">
<li><a rel="fancy-tour" href="/images/album/pp/kb1.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb1x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/pp/kb2.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb2x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb3.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb3x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb4.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb4x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb5.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb5x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb6.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb6x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb7.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb7x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb8.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb8x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb9.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb9x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb12.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb12x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb13.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb13x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb14.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb14x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb15.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb15x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb16.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb16x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb17.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb17x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb18.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb18x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb19.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb19x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb20.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb20x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb21.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb21x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/pp/kb22.jpg" title="BUYBRAND 2011 "><img src="/images/album/pp/kb22x.jpg" alt="" /></a></li>

</ul>

 <br/> <br />


 <h3> Смоленск 04.09.2011 </h3>
 <br/>
 <ul id="gallery6">
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln1.jpg" title="оборудованный кабинет менеджеров по продажам"><img src="/images/album/smolensk2/smln1x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/smolensk2/smln2.jpg" title="рабочее место менеджера по продажам"><img src="/images/album/smolensk2/smln2x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln3.jpg" title="рабочее место менеджера по продажам"><img src="/images/album/smolensk2/smln3x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln4.jpg" title="офис в Смоленске"><img src="/images/album/smolensk2/smln4x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln5.jpg" title="кабинет директора компании Живой офис в Смоленске - Евгения Царенкова "><img src="/images/album/smolensk2/smln5x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln6.jpg" title="помещение склада"><img src="/images/album/smolensk2/smln6x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln7.jpg" title="строительные работы на территории склада"><img src="/images/album/smolensk2/smln7x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln8.jpg" title="обучение сотрудников компании"><img src="/images/album/smolensk2/smln8x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln9.jpg" title="обучение сотрудников компании"><img src="/images/album/smolensk2/smln9x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln10.jpg" title="знакомство с сайтом Живой офис"><img src="/images/album/smolensk2/smln10x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln11.jpg" title="осень в Смоленске "><img src="/images/album/smolensk2/smln11x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln12.jpg" title="осень в Смоленске "><img src="/images/album/smolensk2/smln12x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln13.jpg" title="осень в Смоленске "><img src="/images/album/smolensk2/smln13x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smolensk2/smln14.jpg" title="осень в Смоленске "><img src="/images/album/smolensk2/smln14x.jpg" alt="" /></a></li>
 </ul>



 <br/> <br />


 <h3> Смоленск 06.10.2011 </h3>
 <br/>
 <ul id="gallery7">
<li><a rel="fancy-tour" href="/images/album/smo/smo1.jpg" title=""><img src="/images/album/smo/smo1x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/smo/smo2.jpg" title=""><img src="/images/album/smo/smo2x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo3.jpg" title=""><img src="/images/album/smo/smo3x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo4.jpg" title=""><img src="/images/album/smo/smo4x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo5.jpg" title=" "><img src="/images/album/smo/smo5x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo6.jpg" title=""><img src="/images/album/smo/smo6x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo7.jpg" title="с"><img src="/images/album/smo/smo7x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo8.jpg" title=""><img src="/images/album/smo/smo8x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo9.jpg" title=""><img src="/images/album/smo/smo9x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo10.jpg" title=""><img src="/images/album/smo/smo10x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo11.jpg" title=" "><img src="/images/album/smo/smo11x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo12.jpg" title=" "><img src="/images/album/smo/smo12x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo13.jpg" title=" "><img src="/images/album/smo/smo13x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo14.jpg" title=""><img src="/images/album/smo/smo14x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/smo/smo15.jpg" title=" "><img src="/images/album/smo/smo15x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/smo/smo16.jpg" title=""><img src="/images/album/smo/smo16x.jpg" alt="" /></a></li>

 </ul>


  <br/> <br />


 <h3> День живого офиса 2011 </h3>
 <br/>
 <ul id="gallery8">
<li><a rel="fancy-tour" href="/images/album/day/day1.jpg" title=""><img src="/images/album/day/day1x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/day/day2.jpg" title=""><img src="/images/album/day/day2x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day3.jpg" title=""><img src="/images/album/day/day3x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day4.jpg" title=""><img src="/images/album/day/day4x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day5.jpg" title=" "><img src="/images/album/day/day5x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day6.jpg" title=""><img src="/images/album/day/day6x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day7.jpg" title="с"><img src="/images/album/day/day7x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day8.jpg" title=""><img src="/images/album/day/day8x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day9.jpg" title=""><img src="/images/album/day/day9x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day11.jpg" title=" "><img src="/images/album/day/day11x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day12.jpg" title=" "><img src="/images/album/day/day12x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day13.jpg" title=" "><img src="/images/album/day/day13x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day14.jpg" title=""><img src="/images/album/day/day14x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/day/day15.jpg" title=" "><img src="/images/album/day/day15x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day16.jpg" title=""><img src="/images/album/day/day16x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day17.jpg" title="с"><img src="/images/album/day/day17x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day18.jpg" title=""><img src="/images/album/day/day18x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day19.jpg" title=""><img src="/images/album/day/day19x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day20.jpg" title=""><img src="/images/album/day/day20x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day21.jpg" title=" "><img src="/images/album/day/day21x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day23.jpg" title=" "><img src="/images/album/day/day23x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/day/day24.jpg" title=""><img src="/images/album/day/day24x.jpg" alt="" /></a></li>

 </ul>



  <br/> <br />


 <h3> Первый российский форум секретарей и офис менеджеров </h3>
 <br/>
 <ul id="gallery9">
<li><a rel="fancy-tour" href="/images/album/conf2/conf1.jpg" title=""><img src="/images/album/conf2/conf1x.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/conf2/conf2.jpg" title=""><img src="/images/album/conf2/conf2x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf3.jpg" title=""><img src="/images/album/conf2/conf3x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf4.jpg" title=""><img src="/images/album/conf2/conf4x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf5.jpg" title=" "><img src="/images/album/conf2/conf5x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf6.jpg" title=""><img src="/images/album/conf2/conf6x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf7.jpg" title="с"><img src="/images/album/conf2/conf7x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf8.jpg" title=""><img src="/images/album/conf2/conf8x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf9.jpg" title=""><img src="/images/album/conf2/conf9x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf10.jpg" title=""><img src="/images/album/conf2/conf10x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf11.jpg" title=" "><img src="/images/album/conf2/conf11x.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/conf2/conf12.jpg" title=" "><img src="/images/album/conf2/conf12x.jpg" alt="" /></a></li>

 </ul>


<script type="text/javascript">
$(document).ready(function(){

    $("#gallery a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

        $("#gallery2 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

            $("#gallery3 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });



      $("#gallery4 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

          $("#gallery5 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

          $("#gallery6 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

              $("#gallery7 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

       $("#gallery8 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

           $("#gallery9 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

               $("#gallery10 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });



    $("#video, #video2").fancybox({
    	zoomSpeedIn: 0,
    	zoomSpeedOut:0,
    	frameWidth: 425,
    	frameHeight: 344
    });


    var imageList = [
		{url: "/images/album/05.jpg", title: "Первая картинка"},
		{url: "/images/album/05-1.jpg", title: "Вторая картинка"},
		{url: "/images/album/05-2.jpg", title: "Третья картинка"},
		{url: "/images/album/05-3.jpg", title: "Четвертая картинка"}
	];

	function getGroupItems(opts) {
		jQuery.each(imageList, function(i, val) {
	        opts.itemArray.push(val);
	    });
	}

	$("#custom").fancybox({
	    itemLoadCallback: getGroupItems
	});

    $("#frame").fancybox({
    	zoomSpeedIn: 0,
    	zoomSpeedOut:0,
    	frameWidth: 800,
    	frameHeight: 600
    });

});
</script>

</div>