<style type="text/css">
/* Расположение миниатюр на странице */
ul {
  list-style:none;
}
ul li {
  display:inline;

}
#alb a {width: 67px; overflow: hidden;}
a img {
  border:none;
  margin: 10px;
}
p {
  margin-left:40px;
  font-family: "Trebuchet MS", Tahoma, Verdana sans-serif;
  font-size: 8pt;
  width:440px;
}
</style>
<div id="alb">

 <div class="path"> <%= @path %> </div>

 <h1> Фотоальбом </h1>
<br/> <br/>

 <h3> Новый год 2013</h3>
 <br/>
 <ul id="gallery0">
<li><a rel="fancy-tour" href="/images/album/ny13/ny1.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys1.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/ny13/ny2.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys2.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny3.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys3.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny4.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys4.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny5.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys5.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny6.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys6.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny7.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys7.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny8.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys8.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny9.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys9.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny10.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys10.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny11.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys11.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny12.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys12.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny13.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys13.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny14.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys14.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ny13/ny15.jpg" title="Новый год 2013"><img src="/images/album/ny13/nys15.jpg" alt="" /></a></li>

 </ul>



 <br/> <br/>




 <h3> Голландия</h3>
 <br/>
 <ul id="gallery">
<li><a rel="fancy-tour" href="/images/album/holland/1.jpg" title="Голландия"><img src="/images/album/holland/1p.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/holland/2.jpg" title="Голландия"><img src="/images/album/holland/2p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/3.jpg" title="Голландия"><img src="/images/album/holland/3p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/4.jpg" title="Голландия"><img src="/images/album/holland/4p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/5.jpg" title="Голландия"><img src="/images/album/holland/5p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/6.jpg" title="Голландия"><img src="/images/album/holland/6p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/7.jpg" title="Голландия"><img src="/images/album/holland/7p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/8.jpg" title="Голландия"><img src="/images/album/holland/8p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/9.jpg" title="Голландия"><img src="/images/album/holland/9p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/12.jpg" title="Голландия"><img src="/images/album/holland/12p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/13.jpg" title="Голландия"><img src="/images/album/holland/13p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/14.jpg" title="Голландия"><img src="/images/album/holland/14p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/15.jpg" title="Голландия"><img src="/images/album/holland/15p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/16.jpg" title="Голландия"><img src="/images/album/holland/16p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/17.jpg" title="Голландия"><img src="/images/album/holland/17p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/18.jpg" title="Голландия"><img src="/images/album/holland/18p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/holland/19.jpg" title="Голландия"><img src="/images/album/holland/19p.jpg" alt="" /></a></li>
</ul>



 <br/> <br/>
 <h3> Марракеш</h3>
 <br/>
 <ul id="gallery2">
<li><a rel="fancy-tour" href="/images/album/marokko/1.jpg" title="Коза на Аргановом дереве"><img src="/images/album/marokko/prw/1.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/marokko/2.jpg" title=""><img src="/images/album/marokko/prw/2.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/3.jpg" title="Зеленый чай с мятой"><img src="/images/album/marokko/prw/3.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/4.jpg" title=""><img src="/images/album/marokko/prw/4.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/5.jpg" title="Тиут"><img src="/images/album/marokko/prw/5.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/6.jpg" title="Тиут"><img src="/images/album/marokko/prw/6.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/7.jpg" title=""><img src="/images/album/marokko/prw/7.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/8.jpg" title=""><img src="/images/album/marokko/prw/8.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/9.jpg" title="Марракеш. Сад Мажорель"><img src="/images/album/marokko/prw/9.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/10.jpg" title="Марракеш. Сад Мажорель"><img src="/images/album/marokko/prw/10.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/11.jpg" title="Марракеш"><img src="/images/album/marokko/prw/11.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/12.jpg" title="Марракеш"><img src="/images/album/marokko/prw/12.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/13.jpg" title="Марракеш"><img src="/images/album/marokko/prw/13.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/14.jpg" title="Марракеш. Дворец Бахия"><img src="/images/album/marokko/prw/14.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/15.jpg" title="Марракеш. Дворец Бахия"><img src="/images/album/marokko/prw/15.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/16.jpg" title="Марракеш. Дворец Бахия"><img src="/images/album/marokko/prw/16.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/17.jpg" title="Марракеш. Дворец Бахия"><img src="/images/album/marokko/prw/17.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/18.jpg" title="Марракеш. Дворец Бахия"><img src="/images/album/marokko/prw/18.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/19.jpg" title="Марракеш"><img src="/images/album/marokko/prw/19.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/20.jpg" title="Марракеш"><img src="/images/album/marokko/prw/20.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/21.jpg" title="Марракеш"><img src="/images/album/marokko/prw/21.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/22.jpg" title="Марракеш. Аисты"><img src="/images/album/marokko/prw/22.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/23.jpg" title="Марракеш"><img src="/images/album/marokko/prw/23.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/24.jpg" title="Марракеш. Водоносы"><img src="/images/album/marokko/prw/24.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/25.jpg" title="Марракеш. Пл. Джанма Эль Фиа"><img src="/images/album/marokko/prw/25.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/26.jpg" title="Марракеш. Пл. Джанма Эль Фиа"><img src="/images/album/marokko/prw/26.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/27.jpg" title="Агадир"><img src="/images/album/marokko/prw/27.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/28.jpg" title="Агадир"><img src="/images/album/marokko/prw/28.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/29.jpg" title=""><img src="/images/album/marokko/prw/29.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/30.jpg" title="Агадир"><img src="/images/album/marokko/prw/30.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/31.jpg" title="Аня"><img src="/images/album/marokko/prw/31.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/32.jpg" title=""><img src="/images/album/marokko/prw/32.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/33.jpg" title="Лиза на фоне трансформаторной будки"><img src="/images/album/marokko/prw/33.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/34.jpg" title="Тёма"><img src="/images/album/marokko/prw/34.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/35.jpg" title=""><img src="/images/album/marokko/prw/35.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/36.jpg" title="Марракеш. Пл. Джанма Эль Фиа"><img src="/images/album/marokko/prw/36.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/37.jpg" title="Ира Зенкова. Агадир"><img src="/images/album/marokko/prw/37.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/38.jpg" title="Рынок в Агадире"><img src="/images/album/marokko/prw/38.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/39.jpg" title=""><img src="/images/album/marokko/prw/39.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/marokko/40.jpg" title="Марракеш. Пл. Джанма Эль Фиа"><img src="/images/album/marokko/prw/40.jpg" alt="" /></a></li>



 </ul>

<br/> <br/>
 <h3> Италия</h3>
 <br/>
 <ul id="gallery3">
<li><a rel="fancy-tour" href="/images/album/ital/1.jpg" title="Италия"><img src="/images/album/ital/1p.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/ital/2.jpg" title="Италия"><img src="/images/album/ital/2p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/3.jpg" title="Италия"><img src="/images/album/ital/3p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/4.jpg" title="Италия"><img src="/images/album/ital/4p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/5.jpg" title="Италия"><img src="/images/album/ital/5p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/6.jpg" title="Италия"><img src="/images/album/ital/6p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/7.jpg" title="Италия"><img src="/images/album/ital/7p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/8.jpg" title="Италия"><img src="/images/album/ital/8p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/9.jpg" title="Италия"><img src="/images/album/ital/9p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/10.jpg" title="Италия"><img src="/images/album/ital/10p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/11.jpg" title="Италия"><img src="/images/album/ital/11p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/12.jpg" title="Италия"><img src="/images/album/ital/12p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/13.jpg" title="Италия"><img src="/images/album/ital/13p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/14.jpg" title="Италия"><img src="/images/album/ital/14p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/ital/15.jpg" title="Италия"><img src="/images/album/ital/15p.jpg" alt="" /></a></li>
 </ul>


 <br/> <br/>
 <h3> Германия</h3>
 <br/>
 <ul id="gallery4">
<li><a rel="fancy-tour" href="/images/album/germ/1.jpg" title="Германия"><img src="/images/album/germ/1p.jpg" alt="" /></a></li>
 <li><a rel="fancy-tour" href="/images/album/germ/2.jpg" title="Германия"><img src="/images/album/germ/2p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/3.jpg" title="Германия"><img src="/images/album/germ/3p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/4.jpg" title="Германия"><img src="/images/album/germ/4p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/5.jpg" title="Германия"><img src="/images/album/germ/5p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/6.jpg" title="Германия"><img src="/images/album/germ/6p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/7.jpg" title="Германия"><img src="/images/album/germ/7p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/8.jpg" title="Германия"><img src="/images/album/germ/8p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/9.jpg" title="Германия"><img src="/images/album/germ/9p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/10.jpg" title="Германия"><img src="/images/album/germ/10p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/11.jpg" title="Германия"><img src="/images/album/germ/11p.jpg" alt="" /></a></li>
<li><a rel="fancy-tour" href="/images/album/germ/12.jpg" title="Германия"><img src="/images/album/germ/12p.jpg" alt="" /></a></li>
 </ul>


<script type="text/javascript">
$(document).ready(function(){

    $("#gallery a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });


    $("#gallery0 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

    $("#gallery2 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

$("#gallery3 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });

$("#gallery4 a").fancybox({
    	hideOnContentClick: true,
    	overlayShow: true,
    	overlayOpacity: 0.0,
    	zoomSpeedIn: 1500,
    	zoomSpeedOut:600
    });


    $("#video, #video2").fancybox({
    	zoomSpeedIn: 0,
    	zoomSpeedOut:0,
    	frameWidth: 425,
    	frameHeight: 344
    });


    var imageList = [
		{url: "/images/album/holland/05.jpg", title: "Первая картинка"},
		{url: "/images/album/holland/05-1.jpg", title: "Вторая картинка"},
		{url: "/images/album/holland/05-2.jpg", title: "Третья картинка"},
		{url: "/images/album/holland/05-3.jpg", title: "Четвертая картинка"}
	];

	function getGroupItems(opts) {
		jQuery.each(imageList, function(i, val) {
	        opts.itemArray.push(val);
	    });
	}

	$("#custom").fancybox({
	    itemLoadCallback: getGroupItems
	});

    $("#frame").fancybox({
    	zoomSpeedIn: 0,
    	zoomSpeedOut:0,
    	frameWidth: 800,
    	frameHeight: 600
    });

});
</script>

</div>