
<h1> Наши ценности </h1>
<br/>
<h2>Мы любим<span style="color:red"> СКОРОСТЬ!</span> </h2>
<p>Во всем — скорость мышления, исполнения, принятия решений </p>
<p>Скорость реакции на действия клиента и конкурента </p>
<p>Джек Уелч: «Существует 2 типа компаний: «быстрые и мертвые» Мы выбираем первое!
</p>
<br/>
<h2>
  Мы считаем, что<span style="color:red">  СВОБОДА </span> — это непременное условие развития компании </h2>
<p>Свобода самовыражения, свобода быть не таким как все </p>
<p>Мы каждый день делаем свой свободный выбор и несем ответственность за него
</p>
<p>
Мы предлагаем Вам чувствовать себя свободно в нашей компании и быть ответственными за свои решения и поступки
</p>
<br/>
<h2>
  <span style="color:red"> ПОЗИТИВНОЕ НАСТРОЕНИЕ </span> — всегда! </h2>
<p>Позитив.Что бы не происходило!  </p>
<p>Мы преодолеваем любые препятствия и решаем любые проблемы </p>
<p>Мы не мучаемся на работе с 9 до 18 мы получаем удовольствие от
  себя и от того как мы умеем работать!
</p>

