<p>С  2001 года — основная специализация — корпоративные клиенты </p>
<p>
За 14 лет существования стабильный рост оборота компании и численности
персонала (в т.ч. во время кризисов 1998 и 2008-2009 гг) </p>
<p>
В 2010 году был проведен ребрендинг и компания «Спенс превратилась в
«Живой офис». </p>
<p>
Бренд «Живой офис» пропагандирует такие актуальные ценности,
как здоровье офисного сотрудника, его индивидуальность, выраженную через дизайн, экологическое мышление.
Сегодня мы обслуживаем 15% рынка корпоративных клиентов С-Петербурга
</p>