<%= form_for :login , :url=>{:controller=>'main' , :action=>'login'} do |f| %>
<span style ="color: #999999; font-size: smaller; ">Введите E-mail: </span>
<br/>
<%= f.text_field :mail , :size=>'16' %>
<%#= submit_tag 'Ок' , :class=>'log_sub'%>
<%= submit_tag 'Ок' %>

<% end %>