Добрый день, <%= @name  %> <%=@surname%>!

 Мы рады сообщить, что Ваш счет увеличилась на <%= @nach %> бонусов!
А это значит, что Вы можете выбрать себе очередной подарок, который мы доставим прямо в офис!
Сейчас на Вашему счете <%= @ost %> бонусов.

Желаем Вам приятного дня

Искренне Ваш, www.zhivojoffice.ru


Каталог подарков: http://mister.spens.ru/catalog.php  Проверить состояние своего счета: http://mister.spens.ru/folder.php


Вы получаете это сообщение, так как являетесь зарегистрированным участником Бонусной программы Служебный роман.
Вы можете отписаться от нашей рассылки и прекратить свое участие в бонусной программе, для этого вам необходимо направить письмо по адресу: netbonusov@zhivojoffice.ru .


Проект компании ООО Спенс.