Новый клиент.

При регистрации  сообщил следующие данные:

Логин:<%= @name_l %>
Пароль:<%= @password %>
Фамилия:<%=@surname%>
Имя:<%= @name %>
Телефон:<%=@phone%>
E-mail :<%= @mail %>
Название организации:<%=@company_ind%>
ИНН:<%=@inn%>
Город:<%=@city%>





Желаем Вам приятного дня


Искренне Ваш,

www.zhivojoffice.ru

Внимание: Это письмо было автоматически отправлено с сайта «Живой офис». Не отвечайте на это письмо – мы не получим ваш ответ.

(http://www.zhivojoffice.ru).

