Здравствуйте <%= @name  %>  ,
Спасибо за то, что зарегистрировались у нас. Для продолжения регистрации необходимо чтобы Вы подтвердили ваш email,
перейдя по следующей ссылке:
http://www.zhivojoffice.ru/confirms?confirm=<%=@rnd%>
Если ссылка не работает, откройте новое окно браузера, а затем скопируйте и вставьте URL-адрес в адресную строку.


При регистрации Вы сообщили следующие данные:

Логин:<%= @name_l %>
Пароль:<%= @password %>
Фамилия:<%=@surname%>
Имя:<%= @name %>
Телефон:<%=@phone%>
E-mail :<%= @mail %>



После подтверждения Вашего email мы свяжемся с Вами в кратчайшие сроки.

Если вы получили это письмо по ошибке, не нужно ничего делать для отмены регистрации. Регистрация не будет продолжена, и Вы не будете получать никаких последующих писем.


Желаем Вам приятного дня 


Искренне Ваш,

www.zhivojoffice.ru

Внимание: Это письмо было автоматически отправлено с сайта «Живой офис». Не отвечайте на это письмо – мы не получим ваш ответ.

 (http://www.zhivojoffice.ru).

