<% content_for(:cont) do %>
<style type="text/css">
  #errorExplanation
  {
    padding:15px;
    background-color:#dcdcdc;
    color: red;
  }

  .errorExplanation h2
  {
    visibility:hidden;
    display:none;
  }
  .errorExplanation p
  {
    visibility:hidden;
    display:none;
  }
</style>
<% user=User.find :first, :conditions=>["id=?",params[:id]] %>
<% manager=Manager1.find :first, :conditions=>["user_id=?",params[:id]]%>

<!-- Начало верстки -->

<div class="spens_form" style="width:545px;">
  <br>
  <span><b>
  Сайт находится в режиме тестирования.<br> Приносим извинения за временные неудобства.
    </b></span>
  <br><br>
  Здравствуйте , <%= manager.name %>!
  <br /><br />
<!--  <span>Мы рады приветствовать Вас на нашем новом сайте!</span> -->
  <ul>
    <li>Спасибо, что Вы зашли на наш новый сайт «Живой офис»!



Просим вас потратить пару минут и еще раз заполнить некоторые поля.









</li>

  </ul>
  <br /><span>Поля в красной рамке обязательны к заполнению.</span><br />
  <%=error_messages_for 'user'%>

    <% form_for :user do |form| %>
      <input name="authenticity_token" type="hidden" value="3a0328c1591f06d9095a4c59aa9c22d9ec3afd49" />
       <%= form.hidden_field :old_id ,:value=>params[:id]  %>
       <%= form.hidden_field :old ,:value=>0  %>
      <table border="0" cellspacing="0" cellpadding="0">
        <tr class="odd">
          <td><label for="user_name"> Ваш логин, в дальнейшем он будет использоваться для идентификации Вас в качестве менеджера <a href="">zhivojoffice.ru</a>:</label></td>
          <td><%=user.name%>
<%= form.hidden_field :name, :size => 30 ,:class=>'it',:value=>user.name%></td>
        </tr>
        <tr>
          <td><label for="user_password">Измените пароль,<br />рекомендуется не менее пяти символов:</label></td>
          <td> <%= form.password_field :password, :size => 30,:value=>'spens'%></td>
        </tr>
        <tr class="odd">
          <td><label for="user_password_confirmation">Введите пароль еще раз:</label></td>
          <td>  <%= form.password_field :password_confirmation, :size => 30 ,:value=>'spens' %></td>
        </tr>
        <tr>
          <td><label for="user_surname">Ваша фамилия:</label></td>
          <td> <%= form.text_field :surname, :size => 30  ,:class=>'input_n'%></td>
        </tr>
        <tr class="odd">
          <td><label for="user_scr_name">Ваше имя:</label></td>
          <td><%= form.text_field :scr_name, :size => 30 %></td>
        </tr>
        <tr>
          <td><label for="user_patronymic">Ваше отчество:</label></td>
          <td> <%= form.text_field :patronymic, :size => 30 ,:class=>'input_n'%></td>
        </tr>
        <!--
        <tr class="odd">
          <td><label for="user_mail">Введите ваш e-mail:</label></td>
          <td><%#= form.text_field :mail, :size => 30 ,:value=>user.mail%></td>
        </tr>
        -->
       
         <!-- <input id="user_phone" name="user[phoneprefix]" pattern="\S" size="4" type="text" />&nbsp;&nbsp;&nbsp;-->
            <%= form.hidden_field :phone, :size => 30,:value=>'(812)324-80-50' %>
            
      </table>

      <table>
       
            <%= form.hidden_field :company_ind, :size => 30,:value=>'Живой офис' %>
        
           <%= form.hidden_field :inn, :size => 30 ,:value =>'7805121667' %>
        
        <tr class="odd">
          <td><label for="soglasen">Я согласна(согласен) получать от <a href="http://www.zhivojoffice.ru">www.zhivojoffice.ru</a> поздравления , информацию о бонусной программе и рекламных акциях.</label></td>
          <td align="center">

<%= form.check_box :soglasen,:checked=>'checked' %></td>
        </tr>
      </table>
      <br>
      <p style="text-align: center;">

         <%= submit_tag "Завершить оформление", :class => "submit" %>


      </p>
      <br>
    <%end%>
<ul>

    <li>Личные сведения, полученные в распоряжение <a href="http://www.zhivojoffice.ru">www.zhivojoffice.ru</a> при регистрации или каким-либо иным образом, не будут без разрешения пользователей передаваться третьим организациям и лицам, за исключением ситуаций, когда этого требует закон или судебное решение.</li>
  </ul>
</div>

<!--  Конец верстки -->
<%  end %>


<% content_for(:bs) do %>
  <%=bs%>
  <%  end %>

<%# content_for(:sp) do %>
  <%#=sp%>
  <%#  end %>

